.App {
  text-align: center;
}

.main-logo {
  padding-top: 8px;
}

#dropdown {
  padding:0;
  margin: auto;
  padding-top: 8px;
}

.homeicon {
  float: left;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.loginForm {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}




