html {
  height: 100%;
  font-size: 10px;
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.display-3 {
  text-align: center;
  font-size: 3.5rem !important;
  padding-top: 5%;
}

.image-position {
  margin-top: 5%;

}

.opacity {
  background-color: rgba(0, 0, 0, 0.44);
}

.current-location-btn{
  margin-bottom: 5%;
  background-color: #40739E !important;
  border-color: #40739E !important ;

}

.section-title {
  text-align: center;
  margin-bottom: 3rem;
}

.section-search {
    background: #fff;
    box-shadow: 0 0 8px rgba(0,0,0,.16);
}

.text-title {
  font-family: Lato,sans-serif;
  font-weight: 900;
  font-size: 2rem;
  text-transform: uppercase;
  color: #0d2b42;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}


.sideBarWhole {
  display: flex;

}

.sideBarProfileText {
  margin-top: 10px;

}

.sideBarProfileP {
  font-weight: bold;
  font-size: 1.5rem;
}

.sideBarProfileImage {
  flex-grow: 1;
  margin-left: 15px;
  margin-top: 10px;
  padding-bottom: 10px;
}

.sideBarRedesign {
  color: #40739E !important;
  font-size: 1.6rem !important;

}

.sideBarButtonRedesign {
  font-size: 1.6rem !important;

}



.profileImageT {
  border-radius: 10px !important;

}

.sideBarSmaller {
  font-size: 1.2rem !important;
}

.LoginInsideButton{
background-color: #40739E !important;
color: white !important;

}

.LoginHeader{
  background-color: #40739E !important;
  color: white !important;
  position: relative !important;

}

body {
  margin: 0;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
  font-size: 1.6rem;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
  padding: 0;
}

.fast-check-in {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0;
}

.product-item.popular {
  border: 2px solid #40739E;

}

.city-result {
  background-color: #F5F5F5;

}

#product-item {
  display: flex;
  flex-direction: column;
  font-weight: 300;
  font-size: 1.2rem;
  background: #fff;
  border-radius: 2px;
  margin-bottom: 2rem;
  padding: 1rem;
  transition: all .2s ease-in-out;
  cursor: pointer;

}

.product-title {
  font-family: sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 1.4rem;
  transition: all .2s ease-in-out; 
  color: black;
}



h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: .5rem;
}

*, :after, :before {
  box-sizing: border-box;
}

h4 {
  display: block;
  margin-block-start: 1.33em;
  margin-block-end: 1.33em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.product-content {
  display:flex;

}

.product-img {
  width: 16rem;
  height: 16rem;
  margin-right: 1rem;
  margin-bottom: 0;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;

}

.main-logo {
  padding-top: 8px;
}

#dropdown {
  padding:0;
  margin: auto;
  padding-top: 8px;
}

.homeicon {
  float: left;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
}

.product-descr-wrap {
  flex: 1 1 auto;

}

.product-descr {
  flex: 1 1 auto;
  font-size: 1.4rem;

}

.product-info {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;

}

.product-open-wrapper {
  align-items: center;

}

.product-open-icon {
  display: block;
  width: 30px;
  margin-right: 5px;
}

.product-open-title {
  color: #40739E;
  font-size: 1.3rem;
  font-weight: bold;

}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

.working-time-title {
  font-size: 1.3rem;
  color: #707070;
}

.working-time {
  display: flex;
  font-size: 1.0rem;
}

.working-time .days {
  min-width: 7rem;
  text-transform: capitalize;
  font-size: 1.3rem;

}

.profileBookingTitle {
  font-weight: bold;
  margin-top: 15px;
}

.times {
  font-size: 1.3rem;
  color: #40739E;


}

.product-info {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

.rating {
  display: flex;
}

.neighborhood {
  flex: 1 1 auto;
  justify-content: center;
  flex-direction: column;
}

.neighborhood-title {
  font-size: 1.4rem;
  font-family: Lato,sans-serif;
  font-weight: 900;
}

.neighborhood-name {
  font-size: 1.2rem;
  font-weight: 300;
}

h5 {
  display: block;
  font-size: 0.83em;
  margin-block-start: 1.67em;
  margin-block-end: 1.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.lead {
margin-top: 10px;
color: #40739E;
font-size: 1.5rem;
}

.lead2 {
  text-align: center;
  color: white;


}


a {
color: black !important;


}

.col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}

.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 1px solid #40739E;
  border-right: none;
  padding: 5px;
  height: 36px;
  border-radius: 3px 0 0 3px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #40739E;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #40739E;
  background: #40739E;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

.allBookingButton {
  border: 1px solid #40739E;
  background: #40739E;
  text-align: center;
  color: #fff;
  border-radius: 0 0px 0px 0;
  cursor: pointer;
  font-weight: bold;
  width: 150px;
  height: 30px;

}

.viewQrCode {
  width: 40px;
  height: 36px;
  border: 1px solid #40739E !important;
  background: #40739E;
  text-align: center;
  color: #fff !important;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;

}

.leftVariable {
  font-weight: bold;
  font-size: 1.3rem;

}

.rightVariable {
  font-size: 1.3rem;

}

.upcomingBookingButton {
  border: 1px solid #40739E;
  background: #fff;
  text-align: center;
  color: #40739E;
  border-radius: 0 0px 0px 0;
  cursor: pointer;
  font-weight: bold;
  width: 150px;
  height: 30px;




}

.loginForm {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dialogTitle {
  display:flex;
  flex-direction: row;
  justify-content: center;
  color: #40739E;
}

.travel-img {
  height:150px;
  opacity: 0.5;
}

.booking-column {
  display:flex;
  flex-direction: column;
  justify-content: center;
}

.dropoff-column {
  /* width:250px; */
  background-color: whitesmoke;
  opacity:0.9;
}

.pickup-column {
  background-color: whitesmoke;
  opacity:0.9;
}



.numberText {
  
  padding-right: 110px;
  padding-top: 20px;
  font-size: 15px !important;
  font-weight: bolder !important;
  
}

.numberfield {
  width: 90px;
  background-color: whitesmoke;
  opacity:0.9;
}


.book-button {
  font-size: 18px !important;
}

.MuiButton-containedPrimary {
  background-color: #40739E !important;
}

.MuiButton-root {
  border-radius: 0px !important;
}

.MuiInputBase-input {
  font-size: 15px !important;
}

/* editing the number font in calendar */
.MuiTypography-body2 {
  font-size: 1.3rem !important;
}

/* editing the day font in calendar */
.MuiTypography-caption {
  font-size: 1.7rem !important;
}

/* editing the month font in calendar */
.MuiTypography-body1 {
  font-size: 1.3rem !important;
}

/* editing the title font in calendar */
.MuiTypography-subtitle1 {
  font-size: 1.3rem !important;
} 

/* editing the title for booking */
.MuiTypography-h6 {
  font-size: 1.4rem !important;
  font-weight: 600 !important;
}

/* editing the icon font in calendar */
.MuiSvgIcon-root {
  font-size: 2rem !important;
}

.wrap{
  width: 50%;
  position: relative;
  left: 30%;
  margin-bottom: 20px;
  margin-top: 20px;
}

.text-center {
  text-align: center!important;
  font-size: 1.5rem;
}

.justify-content-center {
  justify-content: center!important;
}

.about-item-descr {
  text-align: center;
}

.about-item-title {
  margin-top: 5%;
}

.about-item-text {
  font-size: 1.5rem;
  margin-bottom: 4rem;

}

.trigger-button {
  /* position:fixed !important;
  bottom:0px !important;
  width: 100% !important; */
  background-color: #40739E !important;
  color: white !important;
  /* border-radius: 0% !important; */
}

.color-appbar {
background-color: transparent !important;
box-shadow: 0px 2px 4px -1px rgba(0,0,0,0), 0px 4px 5px 0px rgba(0,0,0,0), 0px 1px 10px 0px rgba(0,0,0,0) !important;
}

.searchbar {
  width: 60%;
 


}

.searchbarTwo {
  width: 25rem;
}

.searchNowButton {
  background-color: #40739E;
  border: none;
  color: white;
  padding: 3px 7px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-left: 2%;
  font-weight: bold;

}

.ErrorNoStore {
   
    font-size: 2.3rem;
    width: 60%;
    margin-top: 50%;
    margin-left: 70px;
    text-align: center;

}

.product {
  margin-top: 22px;
  border-color: #40739E;
}

.product p{
  display: flex;
  justify-content: space-between;
  padding-top: 4px;
  font-weight: 200;
  font-size: 16px;
}

.template-content {
  width: 100%;
  max-width: 270px;
  margin-left: 60px;
}

.total-block {
  border-top: 1px solid #40739E;
  padding-top: 15px;

}

.total {
  display: flex;
  justify-content: space-between;
  font-size: 26px !important;
  font-weight: 700 !important;

}

.PayButton {
  width: 100%;background-color: #40739E;
  border: none;
  color: white;
  font-size: 30px;
  font-weight: 500;

}

@media screen and (max-width: 480px) {
  .text-title {
      max-width: 74%;
      margin: 0 auto 2rem;
  }
  }
  
  @media screen and (max-width: 767px) {
  .section-title {
      margin-bottom: 1rem;
  }
  }